# load from s3 bucket

In [1]:
import boto3
import pandas as pd
import json
from io import StringIO
import re

In [2]:
root_bucket = 'smithsonian-nasm-landing'
my_bucket = 's3://smithsonian-nasm-landing/metadata/'
bucket_landing = 'smithsonian-nasm-landing'
access_key = 'AKIAXEOCLRHQLPQEBTR6'
secret_key = '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'

In [3]:
# Creating the low level functional client
client = boto3.client(
    's3',
    aws_access_key_id = access_key,
    aws_secret_access_key = secret_key,
    region_name = 'us-east-1'
)

# Creating the high level object oriented interface
resource = boto3.resource(
    's3',
    aws_access_key_id = access_key,
    aws_secret_access_key = secret_key,
    region_name = 'us-east-1'
)

In [4]:
import boto3

session = boto3.Session( 
         aws_access_key_id=access_key, 
         aws_secret_access_key=secret_key)


#Then use the session to get the resource
s3 = session.resource('s3')

my_bucket = s3.Bucket(bucket_landing)
keys = []
for my_bucket_object in my_bucket.objects.all():
    keys.append(my_bucket_object.key)

In [5]:
import re
r = re.compile(".*.txt")
newlist = list(filter(r.match, keys)) # Read Note
len(newlist)

256

In [6]:
txt_str = ''
for filename in newlist:
    txt_obj = client.get_object(Bucket=root_bucket, Key = filename)
    txt = txt_obj['Body'].read().decode('utf-8')
    txt_str = txt_str + txt

In [7]:
jsonData = json.loads(json.dumps(txt_str))

In [8]:
from io import StringIO
df_nasm = pd.read_json(StringIO(jsonData), lines=True)

In [9]:
df_nasm

,id,version,unitCode,linkedId,type,content,url,hash,docSignature,timestamp,lastTimeUpdated,title
0,ld1-1643400021979-1643400025490-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19710896000,00d9bae7afa72b67fb0069c0fbf98728f93a383b,00cd9c99f03bcaf7af0fc1ce1d383bc6,2022-05-27 20:07:44,1653682064,"Wright XR-2120, Radial 12 Engine, Cutaway"
1,ld1-1643400021979-1643400033903-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19820121000,0063631ac6c7505b6bd1d81fe2e25a2c4943ceb6,b8a425701f7559f3572357a92dd46f8d,2022-05-27 20:07:52,1653682072,"Missile, Cruise, Air-launched, AGM-86B"
2,ld1-1643400021979-1643400035809-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19880363000,0083e5f912c17d48c1d49cd66a8f7b20d522d84c,190e19dbc13dd7f8750c223a7f4eeef9,2022-05-27 20:07:53,1653682073,"Indicator, Cylinder Head Temperature, Japanese"
3,ld1-1643400021979-1643400022737-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19570519000,01835964ba6ec317636ffdb3f3cbbf77d83b80da,b289538d8abe2025d0bf9150cdaa94a0,2022-05-27 20:07:40,1653682060,"Indicator, Bank"
4,ld1-1643400021979-1643400023345-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19601472000,013292b94193c7341efda15c0bd461298b7bcaa2,ec12e08febd7925c3433f06aa6ea8b48,2022-05-27 20:07:41,1653682061,"Generator, Tachometer, German,"
...,...,...,...,...,...,...,...,...,...,...,...,...
981,ld1-1643400021979-1643400041447-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19460112000,fe88be16dc7ec1c589a477d99c4bfa9efa0b68eb,55522fb30dc01634a9c72ab21b0bd42b,2022-05-27 20:07:40,1653682060,"Model, Recognition, Mitsubishi A6M Rei-sen (Ze..."
982,ld1-1643400021979-1643400022869-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19570970000,fedf39ddae8f385318f9d3b1b0e7cd75d243817a,90e10d0d59c21ac20d9e515c28d5fe0b,2022-05-27 20:07:40,1653682060,"Indicator, Fuel Pressure"
983,ld1-1643400021979-1643400023381-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19601727000,fe7f767503960b312b4bb0e2b44fa6c7938c5381,adb48a9eeba8f0f3b0638261312df12f,2022-05-27 20:07:41,1653682061,"Transmitter, Dual Oil Pressure,B-9, B-9A"
984,ld1-1643400021979-1643400023581-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19602908000,fe1b08b38366e54faef18204b331614fbe230198,2af0c9d6fcba995f6f6baf5099e92505,2022-05-27 20:07:41,1653682061,"Indicator, Cylinder Head Temperature, Japanese..."
985,ld1-1643400021979-1643400023565-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19602872000,ff5d32b953f256229f80be6ae99b8f3f355e8edf,e5f98d6c226218dc3c5701b1045e293b,2022-05-27 20:07:41,1653682061,"Indicator, Fuel Quantity, Japanese Army"

## main dataframe including metadata

In [10]:
df = df_nasm.copy()

In [11]:
df['id'].nunique()

986

In [12]:
df

,id,version,unitCode,linkedId,type,content,url,hash,docSignature,timestamp,lastTimeUpdated,title
0,ld1-1643400021979-1643400025490-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19710896000,00d9bae7afa72b67fb0069c0fbf98728f93a383b,00cd9c99f03bcaf7af0fc1ce1d383bc6,2022-05-27 20:07:44,1653682064,"Wright XR-2120, Radial 12 Engine, Cutaway"
1,ld1-1643400021979-1643400033903-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19820121000,0063631ac6c7505b6bd1d81fe2e25a2c4943ceb6,b8a425701f7559f3572357a92dd46f8d,2022-05-27 20:07:52,1653682072,"Missile, Cruise, Air-launched, AGM-86B"
2,ld1-1643400021979-1643400035809-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19880363000,0083e5f912c17d48c1d49cd66a8f7b20d522d84c,190e19dbc13dd7f8750c223a7f4eeef9,2022-05-27 20:07:53,1653682073,"Indicator, Cylinder Head Temperature, Japanese"
3,ld1-1643400021979-1643400022737-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19570519000,01835964ba6ec317636ffdb3f3cbbf77d83b80da,b289538d8abe2025d0bf9150cdaa94a0,2022-05-27 20:07:40,1653682060,"Indicator, Bank"
4,ld1-1643400021979-1643400023345-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19601472000,013292b94193c7341efda15c0bd461298b7bcaa2,ec12e08febd7925c3433f06aa6ea8b48,2022-05-27 20:07:41,1653682061,"Generator, Tachometer, German,"
...,...,...,...,...,...,...,...,...,...,...,...,...
981,ld1-1643400021979-1643400041447-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19460112000,fe88be16dc7ec1c589a477d99c4bfa9efa0b68eb,55522fb30dc01634a9c72ab21b0bd42b,2022-05-27 20:07:40,1653682060,"Model, Recognition, Mitsubishi A6M Rei-sen (Ze..."
982,ld1-1643400021979-1643400022869-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19570970000,fedf39ddae8f385318f9d3b1b0e7cd75d243817a,90e10d0d59c21ac20d9e515c28d5fe0b,2022-05-27 20:07:40,1653682060,"Indicator, Fuel Pressure"
983,ld1-1643400021979-1643400023381-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19601727000,fe7f767503960b312b4bb0e2b44fa6c7938c5381,adb48a9eeba8f0f3b0638261312df12f,2022-05-27 20:07:41,1653682061,"Transmitter, Dual Oil Pressure,B-9, B-9A"
984,ld1-1643400021979-1643400023581-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19602908000,fe1b08b38366e54faef18204b331614fbe230198,2af0c9d6fcba995f6f6baf5099e92505,2022-05-27 20:07:41,1653682061,"Indicator, Cylinder Head Temperature, Japanese..."
985,ld1-1643400021979-1643400023565-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19602872000,ff5d32b953f256229f80be6ae99b8f3f355e8edf,e5f98d6c226218dc3c5701b1045e293b,2022-05-27 20:07:41,1653682061,"Indicator, Fuel Quantity, Japanese Army"

In [13]:
df['hash'].nunique()

986

# make the tables

## main df

In [14]:
rs = df.copy()
rs

,id,version,unitCode,linkedId,type,content,url,hash,docSignature,timestamp,lastTimeUpdated,title
0,ld1-1643400021979-1643400025490-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19710896000,00d9bae7afa72b67fb0069c0fbf98728f93a383b,00cd9c99f03bcaf7af0fc1ce1d383bc6,2022-05-27 20:07:44,1653682064,"Wright XR-2120, Radial 12 Engine, Cutaway"
1,ld1-1643400021979-1643400033903-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19820121000,0063631ac6c7505b6bd1d81fe2e25a2c4943ceb6,b8a425701f7559f3572357a92dd46f8d,2022-05-27 20:07:52,1653682072,"Missile, Cruise, Air-launched, AGM-86B"
2,ld1-1643400021979-1643400035809-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19880363000,0083e5f912c17d48c1d49cd66a8f7b20d522d84c,190e19dbc13dd7f8750c223a7f4eeef9,2022-05-27 20:07:53,1653682073,"Indicator, Cylinder Head Temperature, Japanese"
3,ld1-1643400021979-1643400022737-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19570519000,01835964ba6ec317636ffdb3f3cbbf77d83b80da,b289538d8abe2025d0bf9150cdaa94a0,2022-05-27 20:07:40,1653682060,"Indicator, Bank"
4,ld1-1643400021979-1643400023345-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19601472000,013292b94193c7341efda15c0bd461298b7bcaa2,ec12e08febd7925c3433f06aa6ea8b48,2022-05-27 20:07:41,1653682061,"Generator, Tachometer, German,"
...,...,...,...,...,...,...,...,...,...,...,...,...
981,ld1-1643400021979-1643400041447-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19460112000,fe88be16dc7ec1c589a477d99c4bfa9efa0b68eb,55522fb30dc01634a9c72ab21b0bd42b,2022-05-27 20:07:40,1653682060,"Model, Recognition, Mitsubishi A6M Rei-sen (Ze..."
982,ld1-1643400021979-1643400022869-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19570970000,fedf39ddae8f385318f9d3b1b0e7cd75d243817a,90e10d0d59c21ac20d9e515c28d5fe0b,2022-05-27 20:07:40,1653682060,"Indicator, Fuel Pressure"
983,ld1-1643400021979-1643400023381-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19601727000,fe7f767503960b312b4bb0e2b44fa6c7938c5381,adb48a9eeba8f0f3b0638261312df12f,2022-05-27 20:07:41,1653682061,"Transmitter, Dual Oil Pressure,B-9, B-9A"
984,ld1-1643400021979-1643400023581-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19602908000,fe1b08b38366e54faef18204b331614fbe230198,2af0c9d6fcba995f6f6baf5099e92505,2022-05-27 20:07:41,1653682061,"Indicator, Cylinder Head Temperature, Japanese..."
985,ld1-1643400021979-1643400023565-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19602872000,ff5d32b953f256229f80be6ae99b8f3f355e8edf,e5f98d6c226218dc3c5701b1045e293b,2022-05-27 20:07:41,1653682061,"Indicator, Fuel Quantity, Japanese Army"

In [15]:
main = rs[['id', 'content']]
main = pd.json_normalize(main['content'], max_level=0)
main = pd.concat([main, rs], axis=1)
main.reset_index(inplace=True)
main.rename(columns={'index':'main_idx'}, inplace=True)
main

,main_idx,descriptiveNonRepeating,indexedStructured,freetext,id,version,unitCode,linkedId,type,content,url,hash,docSignature,timestamp,lastTimeUpdated,title
0,0,"{'record_ID': 'nasm_A19710896000', 'online_med...","{'geoLocation': [{'L2': {'type': 'Country', 'c...","{'setName': [{'label': 'See more items in', 'c...",ld1-1643400021979-1643400025490-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19710896000,00d9bae7afa72b67fb0069c0fbf98728f93a383b,00cd9c99f03bcaf7af0fc1ce1d383bc6,2022-05-27 20:07:44,1653682064,"Wright XR-2120, Radial 12 Engine, Cutaway"
1,1,"{'record_ID': 'nasm_A19820121000', 'online_med...","{'exhibition': [{'building': 'HAZY'}], 'geoLoc...","{'setName': [{'label': 'See more items in', 'c...",ld1-1643400021979-1643400033903-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19820121000,0063631ac6c7505b6bd1d81fe2e25a2c4943ceb6,b8a425701f7559f3572357a92dd46f8d,2022-05-27 20:07:52,1653682072,"Missile, Cruise, Air-launched, AGM-86B"
2,2,"{'record_ID': 'nasm_A19880363000', 'online_med...","{'geoLocation': [{'L2': {'type': 'Country', 'c...","{'setName': [{'label': 'See more items in', 'c...",ld1-1643400021979-1643400035809-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19880363000,0083e5f912c17d48c1d49cd66a8f7b20d522d84c,190e19dbc13dd7f8750c223a7f4eeef9,2022-05-27 20:07:53,1653682073,"Indicator, Cylinder Head Temperature, Japanese"
3,3,"{'record_ID': 'nasm_A19570519000', 'online_med...","{'date': ['1910s'], 'geoLocation': [{'L2': {'t...","{'setName': [{'label': 'See more items in', 'c...",ld1-1643400021979-1643400022737-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19570519000,01835964ba6ec317636ffdb3f3cbbf77d83b80da,b289538d8abe2025d0bf9150cdaa94a0,2022-05-27 20:07:40,1653682060,"Indicator, Bank"
4,4,"{'record_ID': 'nasm_A19601472000', 'online_med...","{'geoLocation': [{'L2': {'type': 'Country', 'c...","{'setName': [{'label': 'See more items in', 'c...",ld1-1643400021979-1643400023345-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19601472000,013292b94193c7341efda15c0bd461298b7bcaa2,ec12e08febd7925c3433f06aa6ea8b48,2022-05-27 20:07:41,1653682061,"Generator, Tachometer, German,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981,981,"{'record_ID': 'nasm_A19460112000', 'online_med...","{'geoLocation': [{'L2': {'type': 'Country', 'c...","{'setName': [{'label': 'See more items in', 'c...",ld1-1643400021979-1643400041447-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19460112000,fe88be16dc7ec1c589a477d99c4bfa9efa0b68eb,55522fb30dc01634a9c72ab21b0bd42b,2022-05-27 20:07:40,1653682060,"Model, Recognition, Mitsubishi A6M Rei-sen (Ze..."
982,982,"{'record_ID': 'nasm_A19570970000', 'online_med...","{'date': ['1940s'], 'geoLocation': [{'L2': {'t...","{'setName': [{'label': 'See more items in', 'c...",ld1-1643400021979-1643400022869-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19570970000,fedf39ddae8f385318f9d3b1b0e7cd75d243817a,90e10d0d59c21ac20d9e515c28d5fe0b,2022-05-27 20:07:40,1653682060,"Indicator, Fuel Pressure"
983,983,"{'record_ID': 'nasm_A19601727000', 'online_med...","{'geoLocation': [{'L2': {'type': 'Country', 'c...","{'setName': [{'label': 'See more items in', 'c...",ld1-1643400021979-1643400023381-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19601727000,fe7f767503960b312b4bb0e2b44fa6c7938c5381,adb48a9eeba8f0f3b0638261312df12f,2022-05-27 20:07:41,1653682061,"Transmitter, Dual Oil Pressure,B-9, B-9A"
984,984,"{'record_ID': 'nasm_A19602908000', 'online_med...","{'geoLocation': [{'L2': {'type': 'Country', 'c...","{'setName': [{'label': 'See more items in', 'c...",ld1-1643400021979-1643400023581-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19602908000,fe1b08b38366e54faef18204b331614fbe230198,2af0c9d6fcba995f6f6baf5099e92505,2022-05-27 20:07:41,1653682061,"Indicator, Cylinder Head Temperature, Japanese..."
985,985,"{'record_ID': 'nasm_A19602872000', 'online_med...","{'geoLocation': [{'L2': {'type': 'Country', 'c...","{'setName': [{'label': 'See more items in', 'c...",ld1-1643400021979-1643400023565-0,,NASM,,edanmdm,{'descriptiveNonRepeating': {'record_ID': 'nas...,edanmdm:nasm_A19602872000,ff5d32b953f256229f80be6ae99b8f3f355e8edf,e5f98d6c226218dc3c5701b1045e293b,2022-05-27 20:07:41,1653682061,"Indicator, Fuel Quantity, Japanese Army"

## media

In [16]:
df_dnr = pd.json_normalize(main['descriptiveNonRepeating'], max_level=0)
online_media = pd.DataFrame(df_dnr['online_media'])
online_media = pd.json_normalize(online_media['online_media'])
online_media = pd.DataFrame(online_media['media'].explode())
online_media.reset_index(inplace=True)
online_media.rename(columns={'index':'main_id'}, inplace=True)
online_media

      main_id                                              media
0           0  {'thumbnail': 'https://ids.si.edu/ids/delivery...
1           1  {'thumbnail': 'https://ids.si.edu/ids/delivery...
2           2  {'thumbnail': 'https://ids.si.edu/ids/delivery...
3           2  {'thumbnail': 'https://ids.si.edu/ids/delivery...
4           2  {'thumbnail': 'https://ids.si.edu/ids/delivery...
...       ...                                                ...
6337      985  {'thumbnail': 'https://ids.si.edu/ids/delivery...
6338      985  {'thumbnail': 'https://ids.si.edu/ids/delivery...
6339      985  {'thumbnail': 'https://ids.si.edu/ids/delivery...
6340      985  {'thumbnail': 'https://ids.si.edu/ids/delivery...
6341      985  {'thumbnail': 'https://ids.si.edu/ids/delivery...

[6342 rows x 2 columns]

In [17]:
media = pd.concat([online_media, pd.json_normalize(online_media['media'])], axis=1).reset_index()
media.rename(columns={'index':'media_id'}, inplace=True)
media = media[['media_id', 'main_id', 'thumbnail', 'idsId', 'guid', 'type']]
media.drop_duplicates()
media = media[media.notna().all(axis=1)]
media

,media_id,main_id,thumbnail,idsId,guid,type
0,0,0,https://ids.si.edu/ids/deliveryService?id=NASM...,NASM-A19710896000-NASM2015-02510-000001,http://n2t.net/ark:/65665/gf420345dc3-043c-4ca...,Images
1,1,1,https://ids.si.edu/ids/deliveryService?id=NASM...,NASM-A19820121000-NASM2019-00593,http://n2t.net/ark:/65665/gf4d17398cf-a4e5-408...,Images
2,2,2,https://ids.si.edu/ids/deliveryService?id=NASM...,NASM-6ED3F650ED452_001-000001,http://n2t.net/ark:/65665/gf43413511e-81e5-473...,Images
3,3,2,https://ids.si.edu/ids/deliveryService?id=NASM...,NASM-6ED3F650ED452_002-000001,http://n2t.net/ark:/65665/gf4dc8e2232-91ae-446...,Images
4,4,2,https://ids.si.edu/ids/deliveryService?id=NASM...,NASM-6ED3F650ED452_003-000001,http://n2t.net/ark:/65665/gf4f7ba1602-65ed-4cd...,Images
...,...,...,...,...,...,...
6337,6337,985,https://ids.si.edu/ids/deliveryService?id=NASM...,NASM-8B458999033E2_003-000001,http://n2t.net/ark:/65665/gf42bd148f4-c410-41c...,Images
6338,6338,985,https://ids.si.edu/ids/deliveryService?id=NASM...,NASM-8B458999033E2_004-000001,http://n2t.net/ark:/65665/gf4e3d59e2c-1f97-4dc...,Images
6339,6339,985,https://ids.si.edu/ids/deliveryService?id=NASM...,NASM-8B458999033E2_005-000001,http://n2t.net/ark:/65665/gf40e1fa5a7-9a4a-41f...,Images
6340,6340,985,https://ids.si.edu/ids/deliveryService?id=NASM...,NASM-8B458999033E2_006-000001,http://n2t.net/ark:/65665/gf430fb92de-f7b3-489...,Images
6341,6341,985,https://ids.si.edu/ids/deliveryService?id=NASM...,NASM-8B458999033E2_007-000001,http://n2t.net/ark:/65665/gf4e6ae5780-538d-4a5...,Images

## media_resource (res)

In [18]:
online_media = pd.json_normalize(df_dnr['online_media'])
med = pd.json_normalize(online_media['media'].explode())
med

,thumbnail,idsId,guid,type,content,resources,usage.access,text_equiv,voyagerId,usage.text,usage.codes
0,https://ids.si.edu/ids/deliveryService?id=NASM...,NASM-A19710896000-NASM2015-02510-000001,http://n2t.net/ark:/65665/gf420345dc3-043c-4ca...,Images,https://ids.si.edu/ids/deliveryService?id=NASM...,"[{'width': 6600, 'height': 5884, 'label': 'Hig...",CC0,NaN,NaN,NaN,NaN
1,https://ids.si.edu/ids/deliveryService?id=NASM...,NASM-A19820121000-NASM2019-00593,http://n2t.net/ark:/65665/gf4d17398cf-a4e5-408...,Images,https://ids.si.edu/ids/deliveryService?id=NASM...,"[{'label': 'High-resolution TIFF', 'url': 'htt...",CC0,NaN,NaN,NaN,NaN
2,https://ids.si.edu/ids/deliveryService?id=NASM...,NASM-6ED3F650ED452_001-000001,http://n2t.net/ark:/65665/gf43413511e-81e5-473...,Images,https://ids.si.edu/ids/deliveryService?id=NASM...,"[{'width': 3648, 'height': 3648, 'label': 'Hig...",CC0,NaN,NaN,NaN,NaN
3,https://ids.si.edu/ids/deliveryService?id=NASM...,NASM-6ED3F650ED452_002-000001,http://n2t.net/ark:/65665/gf4dc8e2232-91ae-446...,Images,https://ids.si.edu/ids/deliveryService?id=NASM...,"[{'width': 3648, 'height': 3648, 'label': 'Hig...",CC0,NaN,NaN,NaN,NaN
4,https://ids.si.edu/ids/deliveryService?id=NASM...,NASM-6ED3F650ED452_003-000001,http://n2t.net/ark:/65665/gf4f7ba1602-65ed-4cd...,Images,https://ids.si.edu/ids/deliveryService?id=NASM...,"[{'width': 5472, 'height': 3648, 'label': 'Hig...",CC0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
6337,https://ids.si.edu/ids/deliveryService?id=NASM...,NASM-8B458999033E2_003-000001,http://n2t.net/ark:/65665/gf42bd148f4-c410-41c...,Images,https://ids.si.edu/ids/deliveryService?id=NASM...,"[{'width': 5472, 'height': 3648, 'label': 'Hig...",CC0,NaN,NaN,NaN,NaN
6338,https://ids.si.edu/ids/deliveryService?id=NASM...,NASM-8B458999033E2_004-000001,http://n2t.net/ark:/65665/gf4e3d59e2c-1f97-4dc...,Images,https://ids.si.edu/ids/deliveryService?id=NASM...,"[{'width': 3648, 'height': 3648, 'label': 'Hig...",CC0,NaN,NaN,NaN,NaN
6339,https://ids.si.edu/ids/deliveryService?id=NASM...,NASM-8B458999033E2_005-000001,http://n2t.net/ark:/65665/gf40e1fa5a7-9a4a-41f...,Images,https://ids.si.edu/ids/deliveryService?id=NASM...,"[{'width': 3648, 'height': 3648, 'label': 'Hig...",CC0,NaN,NaN,NaN,NaN
6340,https://ids.si.edu/ids/deliveryService?id=NASM...,NASM-8B458999033E2_006-000001,http://n2t.net/ark:/65665/gf430fb92de-f7b3-489...,Images,https://ids.si.edu/ids/deliveryService?id=NASM...,"[{'width': 3648, 'height': 3648, 'label': 'Hig...",CC0,NaN,NaN,NaN,NaN
6341,https://ids.si.edu/ids/deliveryService?id=NASM...,NASM-8B458999033E2_007-000001,http://n2t.net/ark:/65665/gf4e6ae5780-538d-4a5...,Images,https://ids.si.edu/ids/deliveryService?id=NASM...,"[{'width': 3648, 'height': 3648, 'label': 'Hig...",CC0,NaN,NaN,NaN,NaN

In [19]:
res = pd.concat([media, pd.json_normalize(med['resources'].explode())], axis=1).reset_index()
res.rename(columns={'index':'resources_id'}, inplace=True)
res = res[['resources_id', 'media_id', 'main_id', 'width', 'height', 'label', 'url', 'dimensions']]
res.drop_duplicates()
res = res[res.notna().all(axis=1)]
res

,resources_id,media_id,main_id,width,height,label,url,dimensions
0,0,0.0,0.0,6600.0,5884.0,High-resolution JPEG,https://ids.si.edu/ids/download?id=NASM-A19710...,6600x5884
4,4,4.0,2.0,8272.0,6200.0,High-resolution JPEG,https://ids.si.edu/ids/download?id=NASM-A19820...,8272x6200
7,7,7.0,2.0,3648.0,3648.0,High-resolution JPEG,https://ids.si.edu/ids/download?id=NASM-6ED3F6...,3648x3648
10,10,10.0,3.0,3648.0,3648.0,High-resolution JPEG,https://ids.si.edu/ids/download?id=NASM-6ED3F6...,3648x3648
13,13,13.0,3.0,5472.0,3648.0,High-resolution JPEG,https://ids.si.edu/ids/download?id=NASM-6ED3F6...,5472x3648
...,...,...,...,...,...,...,...,...
6318,6326,6326.0,983.0,5003.0,8104.0,High-resolution JPEG,https://ids.si.edu/ids/download?id=NASM-NASM20...,5003x8104
6322,6330,6330.0,984.0,5227.0,5700.0,High-resolution JPEG,https://ids.si.edu/ids/download?id=NASM-NASM20...,5227x5700
6326,6334,6334.0,984.0,8688.0,5792.0,High-resolution JPEG,https://ids.si.edu/ids/download?id=NASM-NASM20...,8688x5792
6330,6338,6338.0,985.0,8688.0,5792.0,High-resolution JPEG,https://ids.si.edu/ids/download?id=NASM-NASM20...,8688x5792
6333,6341,6341.0,985.0,3643.0,3643.0,High-resolution JPEG,https://ids.si.edu/ids/download?id=NASM-309FFF...,3643x3643

## phys_desc

In [20]:
df_ft = pd.json_normalize(main['freetext'], max_level=0)
pdes = pd.DataFrame(df_ft['physicalDescription'])
pdes = pd.DataFrame(pdes['physicalDescription'].explode())
pdes.reset_index(inplace=True)
pdes.rename(columns={'index':'main_id'}, inplace=True)
pdes

      main_id                                physicalDescription
0           0  {'label': 'Materials', 'content': 'Steel, Alum...
1           0  {'label': 'Dimensions', 'content': 'Approximat...
2           0  {'label': 'Dimensions', 'content': 'Approximat...
3           0  {'label': 'Dimensions', 'content': 'Depth 160 ...
4           1  {'label': 'Materials', 'content': 'Body - metal'}
...       ...                                                ...
5150      985         {'label': 'Materials', 'content': 'Glass'}
5151      985         {'label': 'Materials', 'content': 'Steel'}
5152      985  {'label': 'Materials', 'content': 'Coated Fabr...
5153      985      {'label': 'Materials', 'content': 'Adhesive'}
5154      985  {'label': 'Dimensions', 'content': '3-D: 9.5 ×...

[5155 rows x 2 columns]

In [21]:
phys_desc = pd.concat([pdes, pd.json_normalize(pdes['physicalDescription'])], axis=1).reset_index()
phys_desc.rename(columns={'index':'phys_desc_id'}, inplace=True)
phys_desc = phys_desc[['phys_desc_id', 'main_id', 'label', 'content']]
phys_desc.drop_duplicates()
phys_desc = phys_desc[phys_desc.notna().all(axis=1)]

phys_desc

,phys_desc_id,main_id,label,content
0,0,0,Materials,"Steel, Aluminum, Rubber, Textile, Magnesium, P..."
1,1,0,Dimensions,Approximate: 160 × 167.6 × 147.3cm (63 × 66 × ...
2,2,0,Dimensions,Approximate (Weighed with Stand): 694kg (1530lb.)
3,3,0,Dimensions,"Depth 160 cm (63 in.), Length 167.6 cm (66 in...."
4,4,1,Materials,Body - metal
...,...,...,...,...
5150,5150,985,Materials,Glass
5151,5151,985,Materials,Steel
5152,5152,985,Materials,Coated Fabric Tape
5153,5153,985,Materials,Adhesive
5154,5154,985,Dimensions,3-D: 9.5 × 9.5 × 11.4cm (3 3/4 × 3 3/4 × 4 1/2...

# manufacturer

In [22]:
df_ft = pd.json_normalize(main['freetext'], max_level=0)
name = pd.DataFrame(df_ft['name'])
name = pd.DataFrame(name['name'].explode())
name.reset_index(inplace=True)
name.rename(columns={'index':'main_id'}, inplace=True)
name

      main_id                                               name
0           0  {'label': 'Manufacturer', 'content': 'Wright A...
1           1  {'label': 'Manufacturer', 'content': 'Boeing A...
2           2                                                NaN
3           3  {'label': 'Manufacturer', 'content': 'H. Tinsl...
4           4                                                NaN
...       ...                                                ...
1084      981                                                NaN
1085      982  {'label': 'Manufacturer', 'content': 'Northern...
1086      983  {'label': 'Manufacturer', 'content': 'Bendix A...
1087      984  {'label': 'Manufacturer', 'content': 'Fuji Air...
1088      985                                                NaN

[1089 rows x 2 columns]

In [23]:
manufacturer = pd.concat([name, pd.json_normalize(name['name'])], axis=1).reset_index()
manufacturer.rename(columns={'index':'manufacturer_id'}, inplace=True)
manufacturer = manufacturer[['manufacturer_id', 'main_id', 'label', 'content']]
manufacturer.drop_duplicates()
manufacturer = manufacturer[manufacturer.notna().all(axis=1)]

manufacturer

,manufacturer_id,main_id,label,content
0,0,0,Manufacturer,Wright Aeronautical
1,1,1,Manufacturer,Boeing Aerospace Company
3,3,3,Manufacturer,H. Tinsley & Co.
6,6,6,Manufacturer,Renault
7,7,7,Owner,William J. Powell
...,...,...,...,...
1082,1082,979,Manufacturer,Tokyo Aeronautical Instruments Company (Tokyo ...
1083,1083,980,Manufacturer,CIA
1085,1085,982,Manufacturer,Northern Engraving & Manufacturing Co.
1086,1086,983,Manufacturer,"Bendix Aviation Corp., Pioneer Instrument Divi..."
1087,1087,984,Manufacturer,Fuji Aircraft Instrument Co. Ltd. (Fuji Koku K...

## setname

In [24]:
df_ft = pd.json_normalize(main['freetext'], max_level=0)
sn = pd.DataFrame(df_ft['setName'])
sn = pd.DataFrame(sn['setName'].explode())
sn.reset_index(inplace=True)
sn.rename(columns={'index':'main_id'}, inplace=True)
sn

      main_id                                            setName
0           0  {'label': 'See more items in', 'content': 'Nat...
1           1  {'label': 'See more items in', 'content': 'Nat...
2           1  {'label': 'Location', 'content': 'Steven F. Ud...
3           1  {'label': 'Exhibit Station', 'content': 'Rocke...
4           2  {'label': 'See more items in', 'content': 'Nat...
...       ...                                                ...
1319      981  {'label': 'See more items in', 'content': 'Nat...
1320      982  {'label': 'See more items in', 'content': 'Nat...
1321      983  {'label': 'See more items in', 'content': 'Nat...
1322      984  {'label': 'See more items in', 'content': 'Nat...
1323      985  {'label': 'See more items in', 'content': 'Nat...

[1324 rows x 2 columns]

In [25]:
setname = pd.concat([sn, pd.json_normalize(sn['setName'])], axis=1).reset_index()
setname.rename(columns={'index':'setname_id'}, inplace=True)
setname = setname[['setname_id', 'main_id', 'label', 'content']]
setname.drop_duplicates()
setname = setname[setname.notna().all(axis=1)]

setname

,setname_id,main_id,label,content
0,0,0,See more items in,National Air and Space Museum Collection
1,1,1,See more items in,National Air and Space Museum Collection
2,2,1,Location,"Steven F. Udvar-Hazy Center in Chantilly, VA"
3,3,1,Exhibit Station,Rockets & Missiles
4,4,2,See more items in,National Air and Space Museum Collection
...,...,...,...,...
1319,1319,981,See more items in,National Air and Space Museum Collection
1320,1320,982,See more items in,National Air and Space Museum Collection
1321,1321,983,See more items in,National Air and Space Museum Collection
1322,1322,984,See more items in,National Air and Space Museum Collection
1323,1323,985,See more items in,National Air and Space Museum Collection

## credit_line

In [26]:
df_ft = pd.json_normalize(main['freetext'], max_level=0)
cl = pd.DataFrame(df_ft['creditLine'])
cl = pd.DataFrame(cl['creditLine'].explode())
cl.reset_index(inplace=True)
cl.rename(columns={'index':'main_id'}, inplace=True)
cl

     main_id                                         creditLine
0          0  {'label': 'Credit Line', 'content': 'Transferr...
1          1  {'label': 'Credit Line', 'content': 'Transferr...
2          2                                                NaN
3          3  {'label': 'Credit Line', 'content': 'Transferr...
4          4  {'label': 'Credit Line', 'content': 'Transferr...
..       ...                                                ...
981      981  {'label': 'Credit Line', 'content': 'Transferr...
982      982  {'label': 'Credit Line', 'content': 'Transferr...
983      983  {'label': 'Credit Line', 'content': 'Transferr...
984      984  {'label': 'Credit Line', 'content': 'Transferr...
985      985  {'label': 'Credit Line', 'content': 'Transferr...

[986 rows x 2 columns]

In [27]:
creditline = pd.concat([cl, pd.json_normalize(cl['creditLine'])], axis=1).reset_index()
creditline.rename(columns={'index':'creditline_id'}, inplace=True)
creditline = creditline[['creditline_id', 'main_id', 'label', 'content']]
creditline.drop_duplicates()
creditline = creditline[creditline.notna().all(axis=1)]

creditline

,creditline_id,main_id,label,content
0,0,0,Credit Line,Transferred from the U.S. Navy
1,1,1,Credit Line,Transferred from the United States Air Force
3,3,3,Credit Line,Transferred from the Department of Commerce
4,4,4,Credit Line,Transferred from the U.S. Air Force
5,5,5,Credit Line,Gift of Patrick H. Packard.
...,...,...,...,...
981,981,981,Credit Line,"Transferred from the Federal Security Agency, ..."
982,982,982,Credit Line,Transferred from the Department of Commerce
983,983,983,Credit Line,Transferred from the U.S. Air Force
984,984,984,Credit Line,Transferred from the U.S. Air Force
985,985,985,Credit Line,Transferred from the U.S. Air Force

## notes

In [28]:
df_ft = pd.json_normalize(main['freetext'], max_level=0)
nt = pd.DataFrame(df_ft['notes'])
nt = pd.DataFrame(nt['notes'].explode())
nt.reset_index(inplace=True)
nt.rename(columns={'index':'main_id'}, inplace=True)
nt

      main_id                                              notes
0           0  {'label': 'Physical Description', 'content': '...
1           0  {'label': 'Physical Description', 'content': '...
2           0  {'label': 'Physical Description', 'content': '...
3           0  {'label': 'Physical Description', 'content': '...
4           0  {'label': 'Physical Description', 'content': '...
...       ...                                                ...
4622      981  {'label': 'Physical Description', 'content': '...
4623      982  {'label': 'Physical Description', 'content': '...
4624      983  {'label': 'Physical Description', 'content': '...
4625      984  {'label': 'Physical Description', 'content': '...
4626      985  {'label': 'Physical Description', 'content': '...

[4627 rows x 2 columns]

In [29]:
notes = pd.concat([nt, pd.json_normalize(nt['notes'])], axis=1).reset_index()
notes.rename(columns={'index':'notes_id'}, inplace=True)
notes = notes[['notes_id', 'main_id', 'label', 'content']]
notes.drop_duplicates()
notes = notes[notes.notna().all(axis=1)]

notes

,notes_id,main_id,label,content
0,0,0,Physical Description,"Type: Reciprocating, 12 cylinders, 2 rows, rad..."
1,1,0,Physical Description,"Power rating: 746 kW (1,000 hp) at 2,400 rpm"
2,2,0,Physical Description,"Displacement: 34.7 L (2,120 cu in.)"
3,3,0,Physical Description,Bore and Stroke: Not available
4,4,0,Physical Description,"Weight: 544 kg (1,200 lb)"
...,...,...,...,...
4622,4622,981,Physical Description,Wood recognition model of a Mitsubishi A6M Rei...
4623,4623,982,Physical Description,Circa 1943; range 0-25psi; 5.5cm d; 2-1/4in. d...
4624,4624,983,Physical Description,2-1/2in. diameter; World War II; electric; 26v...
4625,4625,984,Physical Description,81mm diameter; black face; 0 to 350 c.; for ju...
4626,4626,985,Physical Description,83mm diameter; black face; 0 to 190; for tojo;...

## invty_desc

In [30]:
df_is = pd.json_normalize(main['indexedStructured'], max_level=0)

invty = pd.concat([main['main_idx'], main['title'], df_is['object_type'].str.get(0),
           df_is['place'].str.get(0), df_is['usage_flag'].str.get(0)], axis=1)
invty = invty.reset_index()
invty.rename(columns={'index':'invty_desc_id', 'main_idx':'main_id'}, inplace=True)
invty = invty[invty.notna().all(axis=1)]
invty.drop_duplicates(subset='invty_desc_id', keep='first')
invty

,invty_desc_id,main_id,title,object_type,place,usage_flag
0,0,0,"Wright XR-2120, Radial 12 Engine, Cutaway",Rotary-wing aircraft,United States of America,Aviation
1,1,1,"Missile, Cruise, Air-launched, AGM-86B",Missiles,United States of America,Space
2,2,2,"Indicator, Cylinder Head Temperature, Japanese",Engines (power producing equipment),Japan,Aviation
3,3,3,"Indicator, Bank",Navigational instruments,United Kingdom,Aviation
4,4,4,"Generator, Tachometer, German,",Engines (power producing equipment),Germany,Aviation
...,...,...,...,...,...,...
981,981,981,"Model, Recognition, Mitsubishi A6M Rei-sen (Ze...",Models (representations),United States of America,Naval Aviation
982,982,982,"Indicator, Fuel Pressure",Engines (power producing equipment),United States of America,Aviation
983,983,983,"Transmitter, Dual Oil Pressure,B-9, B-9A",Engines (power producing equipment),United States of America,Aviation
984,984,984,"Indicator, Cylinder Head Temperature, Japanese...",Engines (power producing equipment),Japan,Aviation
985,985,985,"Indicator, Fuel Quantity, Japanese Army",Engines (power producing equipment),Japan,Aviation

## fact

In [31]:
fact = main[['id', 'main_idx', 'url', 'hash', 'docSignature', 'timestamp', 'lastTimeUpdated', 'title']]
fact = fact.rename(columns={'main_idx':'main_id'})
fact

,id,main_id,url,hash,docSignature,timestamp,lastTimeUpdated,title
0,ld1-1643400021979-1643400025490-0,0,edanmdm:nasm_A19710896000,00d9bae7afa72b67fb0069c0fbf98728f93a383b,00cd9c99f03bcaf7af0fc1ce1d383bc6,2022-05-27 20:07:44,1653682064,"Wright XR-2120, Radial 12 Engine, Cutaway"
1,ld1-1643400021979-1643400033903-0,1,edanmdm:nasm_A19820121000,0063631ac6c7505b6bd1d81fe2e25a2c4943ceb6,b8a425701f7559f3572357a92dd46f8d,2022-05-27 20:07:52,1653682072,"Missile, Cruise, Air-launched, AGM-86B"
2,ld1-1643400021979-1643400035809-0,2,edanmdm:nasm_A19880363000,0083e5f912c17d48c1d49cd66a8f7b20d522d84c,190e19dbc13dd7f8750c223a7f4eeef9,2022-05-27 20:07:53,1653682073,"Indicator, Cylinder Head Temperature, Japanese"
3,ld1-1643400021979-1643400022737-0,3,edanmdm:nasm_A19570519000,01835964ba6ec317636ffdb3f3cbbf77d83b80da,b289538d8abe2025d0bf9150cdaa94a0,2022-05-27 20:07:40,1653682060,"Indicator, Bank"
4,ld1-1643400021979-1643400023345-0,4,edanmdm:nasm_A19601472000,013292b94193c7341efda15c0bd461298b7bcaa2,ec12e08febd7925c3433f06aa6ea8b48,2022-05-27 20:07:41,1653682061,"Generator, Tachometer, German,"
...,...,...,...,...,...,...,...,...
981,ld1-1643400021979-1643400041447-0,981,edanmdm:nasm_A19460112000,fe88be16dc7ec1c589a477d99c4bfa9efa0b68eb,55522fb30dc01634a9c72ab21b0bd42b,2022-05-27 20:07:40,1653682060,"Model, Recognition, Mitsubishi A6M Rei-sen (Ze..."
982,ld1-1643400021979-1643400022869-0,982,edanmdm:nasm_A19570970000,fedf39ddae8f385318f9d3b1b0e7cd75d243817a,90e10d0d59c21ac20d9e515c28d5fe0b,2022-05-27 20:07:40,1653682060,"Indicator, Fuel Pressure"
983,ld1-1643400021979-1643400023381-0,983,edanmdm:nasm_A19601727000,fe7f767503960b312b4bb0e2b44fa6c7938c5381,adb48a9eeba8f0f3b0638261312df12f,2022-05-27 20:07:41,1653682061,"Transmitter, Dual Oil Pressure,B-9, B-9A"
984,ld1-1643400021979-1643400023581-0,984,edanmdm:nasm_A19602908000,fe1b08b38366e54faef18204b331614fbe230198,2af0c9d6fcba995f6f6baf5099e92505,2022-05-27 20:07:41,1653682061,"Indicator, Cylinder Head Temperature, Japanese..."
985,ld1-1643400021979-1643400023565-0,985,edanmdm:nasm_A19602872000,ff5d32b953f256229f80be6ae99b8f3f355e8edf,e5f98d6c226218dc3c5701b1045e293b,2022-05-27 20:07:41,1653682061,"Indicator, Fuel Quantity, Japanese Army"

In [32]:
# dim tables with only IDs
rs = res[['resources_id', 'main_id']]
med = media[['media_id', 'main_id']]
pdesc = phys_desc[['phys_desc_id', 'main_id']]
mfg = manufacturer[['manufacturer_id', 'main_id']]
sn = setname [['setname_id', 'main_id']]
cl2 = creditline[['creditline_id', 'main_id']]
nt = notes[['notes_id', 'main_id']]
inv = invty[['invty_desc_id', 'main_id']]

print('length of fact table')
print(f'fact: {fact.shape[0]}\n')

print('length of different dim tables')
print(f'med: {med.shape[0]}; rs: {rs.shape[0]}; pdesc: {pdesc.shape[0]}; mfg: {mfg.shape[0]}; sn: {sn.shape[0]}; cl2: {cl2.shape[0]}; nt: {nt.shape[0]}; inv: {inv.shape[0]}')

length of fact table
fact: 986

length of different dim tables
med: 6334; rs: 1752; pdesc: 5155; mfg: 940; sn: 1324; cl2: 928; nt: 4624; inv: 934

In [33]:
# import pandas as pd
# fact_concat = pd.concat([fact, med, rs, pdesc, mfg, sn, cl2, nt, inv], axis=1)

# fact_concat.columns = ['id', 'main_id', 'url', 'hash', 'docSignature', 'timestamp',
#        'lastTimeUpdated', 'title', 'media_id', 'main_id1', 'resources_id',
#        'main_id2', 'phys_desc_id', 'main_id3', 'manufacturer_id', 'main_id4',
#        'setname_id', 'main_id5', 'creditline_id', 'main_id6', 'notes_id',
#        'main_id7', 'invty_desc_id', 'main_id8']

# fact_cc_final = fact_concat[['id', 'main_id', 'url', 'hash', 'docSignature', 'timestamp',
#              'lastTimeUpdated', 'title', 'media_id', 'resources_id', 'phys_desc_id',
#              'manufacturer_id', 'setname_id', 'creditline_id', 'notes_id', 'invty_desc_id']]

# fact_cc_no_null = fact_cc_final[fact_cc_final.notna().all(axis=1)]

# print('no of rows in fact table versions')
# print(f'fact_concat: {fact_cc_final.shape}, fact_no_null: {fact_cc_no_null.shape}')

In [34]:
# fact_cc_final

In [35]:
# fact_cc_no_null

In [36]:
6334+1752+5155+940+1324+928+4624+934

21991

## merge dim tables to make fact table

In [37]:
# media and rs

print('length of fact table')
print(f'fact: {fact.shape[0]}\n')

print('length of different dim tables')
print(f'med: {med.shape[0]}; rs: {rs.shape[0]}; pdesc: {pdesc.shape[0]}; mfg: {mfg.shape[0]}; sn: {sn.shape[0]}; cl2: {cl2.shape[0]}; nt: {nt.shape[0]}; inv: {inv.shape[0]}\n')

# print(f'med: {med.shape[0]}')
# print(f'rs: {rs.shape[0]}')

med_rs = med.merge(rs, on='main_id', how='inner')
print(f'med_rs: {med_rs.shape[0]}')

pdesc_mfg = pdesc.merge(mfg, on='main_id', how='inner')
print(f'pdesc_mfg: {pdesc_mfg.shape[0]}')

pdesc_mfg_sn = pdesc_mfg.merge(sn, on='main_id', how='inner')
print(f'pdesc_mfg_sn: {pdesc_mfg_sn.shape[0]}')

pdesc_mfg_sn_cl2 = pdesc_mfg_sn.merge(cl2, on='main_id', how='inner')
print(f'pdesc_mfg_sn_cl2: {pdesc_mfg_sn_cl2.shape[0]}')

pdesc_mfg_sn_cl2_notes = pdesc_mfg_sn_cl2.merge(nt, on='main_id', how='inner')
print(f'pdesc_mfg_sn_cl2_notes: {pdesc_mfg_sn_cl2_notes.shape[0]}')

pdesc_mfg_sn_cl2_notes_inv = pdesc_mfg_sn_cl2_notes.merge(inv, on='main_id', how='inner')
print(f'pdesc_mfg_sn_cl2_notes_inv: {pdesc_mfg_sn_cl2_notes_inv.shape[0]}')

all_dims = pdesc_mfg_sn_cl2_notes_inv.merge(med_rs, on='main_id', how='inner')
print(f'all_dims: {all_dims.shape[0]}')

fact_mm = fact.merge(all_dims, on='main_id', how='inner')
print(f'fact_mm: {fact_mm.shape[0]}')

length of fact table
fact: 986

length of different dim tables
med: 6334; rs: 1752; pdesc: 5155; mfg: 940; sn: 1324; cl2: 928; nt: 4624; inv: 934

med_rs: 21229
pdesc_mfg: 4846
pdesc_mfg_sn: 6426
pdesc_mfg_sn_cl2: 6054
pdesc_mfg_sn_cl2_notes: 39657
pdesc_mfg_sn_cl2_notes_inv: 35207
all_dims: 1526196
fact_mm: 1526196

In [38]:
fact_mm

,id,main_id,url,hash,docSignature,timestamp,lastTimeUpdated,title,phys_desc_id,manufacturer_id,setname_id,creditline_id,notes_id,invty_desc_id,media_id,resources_id
0,ld1-1643400021979-1643400025490-0,0,edanmdm:nasm_A19710896000,00d9bae7afa72b67fb0069c0fbf98728f93a383b,00cd9c99f03bcaf7af0fc1ce1d383bc6,2022-05-27 20:07:44,1653682064,"Wright XR-2120, Radial 12 Engine, Cutaway",0,0,0,0,0,0,0,0
1,ld1-1643400021979-1643400025490-0,0,edanmdm:nasm_A19710896000,00d9bae7afa72b67fb0069c0fbf98728f93a383b,00cd9c99f03bcaf7af0fc1ce1d383bc6,2022-05-27 20:07:44,1653682064,"Wright XR-2120, Radial 12 Engine, Cutaway",0,0,0,0,1,0,0,0
2,ld1-1643400021979-1643400025490-0,0,edanmdm:nasm_A19710896000,00d9bae7afa72b67fb0069c0fbf98728f93a383b,00cd9c99f03bcaf7af0fc1ce1d383bc6,2022-05-27 20:07:44,1653682064,"Wright XR-2120, Radial 12 Engine, Cutaway",0,0,0,0,2,0,0,0
3,ld1-1643400021979-1643400025490-0,0,edanmdm:nasm_A19710896000,00d9bae7afa72b67fb0069c0fbf98728f93a383b,00cd9c99f03bcaf7af0fc1ce1d383bc6,2022-05-27 20:07:44,1653682064,"Wright XR-2120, Radial 12 Engine, Cutaway",0,0,0,0,3,0,0,0
4,ld1-1643400021979-1643400025490-0,0,edanmdm:nasm_A19710896000,00d9bae7afa72b67fb0069c0fbf98728f93a383b,00cd9c99f03bcaf7af0fc1ce1d383bc6,2022-05-27 20:07:44,1653682064,"Wright XR-2120, Radial 12 Engine, Cutaway",0,0,0,0,4,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1526191,ld1-1643400021979-1643400023581-0,984,edanmdm:nasm_A19602908000,fe1b08b38366e54faef18204b331614fbe230198,2af0c9d6fcba995f6f6baf5099e92505,2022-05-27 20:07:41,1653682061,"Indicator, Cylinder Head Temperature, Japanese...",5147,1087,1322,984,4625,984,6332,6334
1526192,ld1-1643400021979-1643400023581-0,984,edanmdm:nasm_A19602908000,fe1b08b38366e54faef18204b331614fbe230198,2af0c9d6fcba995f6f6baf5099e92505,2022-05-27 20:07:41,1653682061,"Indicator, Cylinder Head Temperature, Japanese...",5147,1087,1322,984,4625,984,6333,6330
1526193,ld1-1643400021979-1643400023581-0,984,edanmdm:nasm_A19602908000,fe1b08b38366e54faef18204b331614fbe230198,2af0c9d6fcba995f6f6baf5099e92505,2022-05-27 20:07:41,1653682061,"Indicator, Cylinder Head Temperature, Japanese...",5147,1087,1322,984,4625,984,6333,6334
1526194,ld1-1643400021979-1643400023581-0,984,edanmdm:nasm_A19602908000,fe1b08b38366e54faef18204b331614fbe230198,2af0c9d6fcba995f6f6baf5099e92505,2022-05-27 20:07:41,1653682061,"Indicator, Cylinder Head Temperature, Japanese...",5147,1087,1322,984,4625,984,6334,6330
1526195,ld1-1643400021979-1643400023581-0,984,edanmdm:nasm_A19602908000,fe1b08b38366e54faef18204b331614fbe230198,2af0c9d6fcba995f6f6baf5099e92505,2022-05-27 20:07:41,1653682061,"Indicator, Cylinder Head Temperature, Japanese...",5147,1087,1322,984,4625,984,6334,6334

In [39]:
# ## try if merge
# fact_med = fact.merge(med, on='main_id', how='inner')

# fmr = fact_med.merge(rs, on='main_id', how='inner')
# # fmr = fmr[fmr.notna().all(axis=1)]

# fmrp = fmr.merge(pdesc, on='main_id', how='inner')
# # fmrp = fmrp[fmrp.notna().all(axis=1)]

# fmrpm = fmrp.merge(mfg, on='main_id', how='inner')
# # fmrpm = fmrpm[fmrpm.notna().all(axis=1)]

# lahatmerge = fmrpm.merge(sn, on='main_id', how='inner').merge(cl2, on='main_id', how='inner').merge(nt, on='main_id', how='inner').merge(inv, on='main_id', how='inner')
# lahatmerge[lahatmerge.notna().all(axis=1)]

# lahatmerge

# connect to redshift

In [40]:
%load_ext sql

In [41]:
with open('redshift_connstring.txt') as f:
    conn_string = f.read()
    
conn_string

'postgresql://awsuser:iloveDE2022!@samplecluster.cpbwg90hhrxf.us-east-1.redshift.amazonaws.com:5439/dev'

In [42]:
%sql $conn_string

'Connected: awsuser@dev'

In [43]:
# sql CREATE USER kashmot WITH password 'Airplane2022';

In [44]:
# %sql CREATE DATABASE airplane WITH OWNER kashmot

In [45]:
%sql postgresql://kashmot:Airplane2022@samplecluster.cpbwg90hhrxf.us-east-1.redshift.amazonaws.com:5439/airplane

'Connected: kashmot@airplane'

In [46]:
conn_string_nasm = 'postgresql://kashmot:Airplane2022@samplecluster.cpbwg90hhrxf.us-east-1.redshift.amazonaws.com:5439/airplane'

# SQL and loading statements consolidated

In [47]:
## creating the tables

In [48]:
%%sql
DROP TABLE IF EXISTS dim_media CASCADE;
CREATE TABLE IF NOT EXISTS dim_media (
    media_id INTEGER NOT NULL,
    main_id INTEGER,
    thumbnail TEXT,
    idsID TEXT,
    guid TEXT,
    type TEXT
);

DROP TABLE IF EXISTS dim_media_resource CASCADE;
CREATE TABLE IF NOT EXISTS dim_media_resource (
    resources_id INTEGER NOT NULL,
    media_id INTEGER,
    main_id INTEGER,
    width FLOAT,
    height FLOAT,
    label TEXT,
    url TEXT,
    dimensions TEXT
);

DROP TABLE IF EXISTS dim_physical_desc CASCADE;
CREATE TABLE IF NOT EXISTS dim_physical_desc (
    phys_desc_id INTEGER NOT NULL,
    main_id INTEGER,
    label TEXT,
    content VARCHAR (10000)
);

DROP TABLE IF EXISTS dim_manufacturer CASCADE;
CREATE TABLE IF NOT EXISTS dim_manufacturer (
    manufacturer_id INTEGER NOT NULL,
    main_id INTEGER,
    label TEXT,
    content TEXT
);

DROP TABLE IF EXISTS dim_setname CASCADE;
CREATE TABLE IF NOT EXISTS dim_setname (
    setname_id INTEGER NOT NULL,
    main_id INTEGER,
    label TEXT,
    content TEXT
);

DROP TABLE IF EXISTS dim_creditline CASCADE;
CREATE TABLE IF NOT EXISTS dim_screditline(
    creditline_id INTEGER NOT NULL,
    main_id INTEGER,
    label TEXT,
    content TEXT
);

DROP TABLE IF EXISTS dim_notes CASCADE;
CREATE TABLE IF NOT EXISTS dim_notes(
    notes_id INTEGER NOT NULL,
    main_id INTEGER,
    label TEXT,
    content VARCHAR (10000)
);

DROP TABLE IF EXISTS dim_invty_desc CASCADE;
CREATE TABLE IF NOT EXISTS dim_invty_desc (
    invty_desc_id INTEGER NOT NULL,
    main_id INTEGER,
    title TEXT,
    object_type TEXT,
    place TEXT,
    usage_flag TEXT
);

DROP TABLE IF EXISTS fact_artifact CASCADE;
CREATE TABLE IF NOT EXISTS fact_artifact(
    id TEXT,
    main_id INTEGER,
    url TEXT,
    hash TEXT,
    docsignature TEXT,
    timestamp TIMESTAMP,
    lastTimeUpdated FLOAT,
    title TEXT,
    media_id INTEGER,
    resources_id INTEGER,
    phys_desc_id INTEGER,
    manufacturer_id INTEGER,
    setname_id INTEGER,
    creditline_id INTEGER,
    notes_id INTEGER,
    invty_desc_id INTEGER
)

DISTSTYLE KEY DISTKEY(id)
SORTKEY (main_id, invty_desc_id, notes_id);

   postgresql://awsuser:***@samplecluster.cpbwg90hhrxf.us-east-1.redshift.amazonaws.com:5439/dev
 * postgresql://kashmot:***@samplecluster.cpbwg90hhrxf.us-east-1.redshift.amazonaws.com:5439/airplane
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

## populate the tables (indiv loading statements)

In [49]:
media.to_sql('dim_media', conn_string_nasm, if_exists='append', index=False, index_label='main_id')

6334

In [50]:
res.to_sql('dim_media_resources', conn_string_nasm, if_exists='append', index=False, index_label='main_id')

1752

In [51]:
phys_desc.to_sql('dim_physical_desc', conn_string_nasm, if_exists='append', index=False, index_label='main_id')

5155

In [52]:
manufacturer.to_sql('dim_manufacturer', conn_string_nasm, if_exists='append', index=False, index_label='main_id')

940

In [53]:
setname.to_sql('dim_setname', conn_string_nasm, if_exists='append', index=False, index_label='main_id')

1324

In [54]:
creditline.to_sql('dim_creditline', conn_string_nasm, if_exists='append', index=False, index_label='main_id')

928

In [ ]:
notes.to_sql('dim_notes', conn_string_nasm, if_exists='append', index=False, index_label='main_id')

In [ ]:
invty.to_sql('dim_invty_desc', conn_string_nasm, if_exists='append', index=False, index_label='main_id')

In [ ]:
fact_mm.to_sql('fact_artifact', conn_string_nasm, if_exists='append', index=False, index_label='main_id')

## all loading statements

In [ ]:
media.to_sql('dim_media', conn_string_nasm, if_exists='append', index=False, index_label='main_id')

res.to_sql('dim_media_resources', conn_string_nasm, if_exists='append', index=False, index_label='main_id')

phys_desc.to_sql('dim_physical_desc', conn_string_nasm, if_exists='append', index=False, index_label='main_id')

manufacturer.to_sql('dim_manufacturer', conn_string_nasm, if_exists='append', index=False, index_label='main_id')

setname.to_sql('dim_setname', conn_string_nasm, if_exists='append', index=False, index_label='main_id')

creditline.to_sql('dim_creditline', conn_string_nasm, if_exists='append', index=False, index_label='main_id')

notes.to_sql('dim_notes', conn_string_nasm, if_exists='append', index=False, index_label='main_id')

invty.to_sql('dim_invty_desc', conn_string_nasm, if_exists='append', index=False, index_label='main_id')

fact_mm.to_sql('fact_artifact', conn_string_nasm, if_exists='append', index=False, index_label='main_id')

# (actual loading and making the table)

its ok not to run all codes below. all the codes have been consolidated above.

# dim_media

In [ ]:
media.dtypes

In [ ]:
%%sql
DROP TABLE IF EXISTS dim_media CASCADE;
CREATE TABLE IF NOT EXISTS dim_media (
    media_id INTEGER NOT NULL,
    main_id INTEGER,
    thumbnail TEXT,
    idsID TEXT,
    guid TEXT,
    type TEXT
);

In [ ]:
print('no of entries loaded to table:')
media.to_sql('dim_media', conn_string_nasm, if_exists='append', index=False, index_label='main_id')

In [ ]:
%%sql
SELECT * FROM dim_media
LIMIT 10;

## dim_media_resource

In [ ]:
res.dtypes

In [ ]:
%%sql
DROP TABLE IF EXISTS dim_media_resource CASCADE;
CREATE TABLE IF NOT EXISTS dim_media_resource (
    resources_id INTEGER NOT NULL,
    media_id INTEGER,
    main_id INTEGER,
    width FLOAT,
    height FLOAT,
    label TEXT,
    url TEXT,
    dimensions TEXT
);

In [ ]:
print('no of entries loaded to table:')
res.to_sql('dim_media_resources', conn_string_nasm, if_exists='append', index=False, index_label='main_id')

In [ ]:
%%sql
SELECT * FROM dim_media_resources
LIMIT 10;

## dim_physical_desc

In [ ]:
phys_desc

In [ ]:
%%sql
DROP TABLE IF EXISTS dim_physical_desc CASCADE;
CREATE TABLE IF NOT EXISTS dim_physical_desc (
    phys_desc_id INTEGER NOT NULL,
    main_id INTEGER,
    label TEXT,
    content VARCHAR (10000)
);

In [ ]:
print('no of entries loaded to table:')
phys_desc.to_sql('dim_physical_desc', conn_string_nasm, if_exists='append', index=False, index_label='main_id')

In [ ]:
%%sql
SELECT * FROM dim_physical_desc
LIMIT 10;

## dim_manufacturer

In [ ]:
manufacturer.dtypes

In [ ]:
%%sql
DROP TABLE IF EXISTS dim_manufacturer CASCADE;
CREATE TABLE IF NOT EXISTS dim_manufacturer (
    manufacturer_id INTEGER NOT NULL,
    main_id INTEGER,
    label TEXT,
    content TEXT
);

In [ ]:
print('no of entries loaded to table:')
manufacturer.to_sql('dim_manufacturer', conn_string_nasm, if_exists='append', index=False, index_label='main_id')

In [ ]:
%%sql
SELECT * FROM dim_manufacturer
LIMIT 10;

## dim_setname

In [ ]:
setname.dtypes

In [ ]:
%%sql
DROP TABLE IF EXISTS dim_setname CASCADE;
CREATE TABLE IF NOT EXISTS dim_setname (
    setname_id INTEGER NOT NULL,
    main_id INTEGER,
    label TEXT,
    content TEXT
);

In [ ]:
print('no of entries loaded to table:')
setname.to_sql('dim_setname', conn_string_nasm, if_exists='append', index=False, index_label='main_id')

In [ ]:
%%sql
SELECT * FROM dim_setname
LIMIT 10;

## dim_creditline

In [ ]:
creditline.dtypes

In [ ]:
%%sql
DROP TABLE IF EXISTS dim_creditline CASCADE;
CREATE TABLE IF NOT EXISTS dim_screditline(
    creditline_id INTEGER NOT NULL,
    main_id INTEGER,
    label TEXT,
    content TEXT
);

In [ ]:
print('no of entries loaded to table:')
creditline.to_sql('dim_creditline', conn_string_nasm, if_exists='append', index=False, index_label='main_id')

In [ ]:
%%sql
SELECT * FROM dim_creditline
LIMIT 10;

## dim_notes

In [ ]:
notes

In [ ]:
%%sql
DROP TABLE IF EXISTS dim_notes CASCADE;
CREATE TABLE IF NOT EXISTS dim_notes(
    notes_id INTEGER NOT NULL,
    main_id INTEGER,
    label TEXT,
    content VARCHAR (10000)
);

In [ ]:
print('no of entries loaded to table:')
notes.to_sql('dim_notes', conn_string_nasm, if_exists='append', index=False, index_label='main_id')

In [ ]:
%%sql
SELECT * FROM dim_notes
LIMIT 10;

## dim_invty_desc

In [ ]:
invty.dtypes

In [ ]:
%%sql
DROP TABLE IF EXISTS dim_invty_desc CASCADE;
CREATE TABLE IF NOT EXISTS dim_invty_desc (
    invty_desc_id INTEGER NOT NULL,
    main_id INTEGER,
    title TEXT,
    object_type TEXT,
    place TEXT,
    usage_flag TEXT
);

In [ ]:
print('no of entries loaded to table:')
invty.to_sql('dim_invty_desc', conn_string_nasm, if_exists='append', index=False, index_label='main_id')

In [ ]:
%%sql
SELECT * FROM dim_invty_desc
LIMIT 10;

 ## fact_artifact

In [ ]:
fact_final.dtypes

In [ ]:
fact_final

In [ ]:
%%sql
DROP TABLE IF EXISTS fact_artifact CASCADE;
CREATE TABLE IF NOT EXISTS fact_artifact(
    id TEXT,
    main_id INTEGER,
    url TEXT,
    hash TEXT,
    docsignature TEXT,
    timestamp TIMESTAMP,
    lastTimeUpdated FLOAT,
    title TEXT,
    media_id INTEGER,
    resources_id INTEGER,
    phys_desc_id INTEGER,
    manufacturer_id INTEGER,
    setname_id INTEGER,
    creditline_id INTEGER,
    notes_id INTEGER,
    invty_desc_id INTEGER
)

DISTSTYLE KEY DISTKEY(id)
SORTKEY (main_id, invty_desc_id, notes_id);

In [ ]:
fact_no_null

In [ ]:
print('no of entries loaded to table:')
fact_no_null.to_sql('fact_artifact', conn_string_nasm, if_exists='append', index=False, index_label='main_id')

In [ ]:
%%sql
SELECT * FROM fact_artifact
LIMIT 10;